flows_example.json
[{"id":"4099c8d3.1c4cc8","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"43a0d19.8e5503","type":"xiaomi-configurator","z":"","name":"小米网关","ip":"10.0.0.88","sid":"","deviceList":[{"sid":"","desc":"","model":"switch"}],"key":"E20543F594CA47BC"},{"id":"8ac58445.bdcd48","type":"inject","z":"4099c8d3.1c4cc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":180,"wires":[["89e16108.e9986","77228a7a.0e9ca4"]]},{"id":"89e16108.e9986","type":"debug","z":"4099c8d3.1c4cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":180,"wires":[]},{"id":"36a1733d.1afb7c","type":"comment","z":"4099c8d3.1c4cc8","name":"例1：时间戳","info":"该例子中，使用inject node来产生一个msg，msg的payload\n部分包含了Unix时间戳。\n小知识：\n      Unix时间戳，unix时间戳是从1970年1月1日（UTC/GMT\n    的午夜）开始所经过的秒数，不考虑闰秒。\n      在大多数的UNIX系统中UNIX时间戳存储为32位，这样\n    会引发2038年问题或Y2038\n      由于使用的是UTC时间，所以该时间会与我国时间差8\n    小时。\n","x":190,"y":180,"wires":[]},{"id":"77228a7a.0e9ca4","type":"function","z":"4099c8d3.1c4cc8","name":"修改时间戳为可读","func":"msg.payload = Date(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["ff7ff28e.dd23a","f0dbff7d.f1ddf"]]},{"id":"ff7ff28e.dd23a","type":"debug","z":"4099c8d3.1c4cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":460,"wires":[]},{"id":"a933f916.84b298","type":"comment","z":"4099c8d3.1c4cc8","name":"例2：时间戳可读","info":"在这个例子中，使用了功能node，function。\n将inject node发送过来的msg的payload部分进行了操作，然\n后将msg继续输出\n    使用的JS函数是，Date(),可以将时间戳转换为当前时间\n\n使用function的时候注意内部的代码需要符合JS语法。同时\n与JS的函数也通用","x":200,"y":460,"wires":[]},{"id":"f0dbff7d.f1ddf","type":"play audio","z":"4099c8d3.1c4cc8","name":"","voice":"0","x":810,"y":560,"wires":[]},{"id":"a15b67f6.121648","type":"comment","z":"4099c8d3.1c4cc8","name":"例3：时间戳TTS","info":"该例子中，需要浏览器支持TTS。\n推荐使用chrome浏览器，通过科学上网去google应用商店\n下载read Aloud插件\n或者，前往chromecj.com，可以本地下载插件，参考教程\n（http://chromecj.com/utilities/2019-01/1791.html）\n\nplay_audio node需要输入的msg的payload部分包含了一个\nwav文件或者string（需要浏览器支持TTS）","x":200,"y":560,"wires":[]}]