flows_example.json
[{"id":"4099c8d3.1c4cc8","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"43a0d19.8e5503","type":"xiaomi-configurator","z":"","name":"小米网关","ip":"10.0.0.88","sid":"","deviceList":[{"sid":"","desc":"","model":"switch"}],"key":"E20543F594CA47BC"},{"id":"8ac58445.bdcd48","type":"inject","z":"4099c8d3.1c4cc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":180,"wires":[["89e16108.e9986","77228a7a.0e9ca4"]]},{"id":"89e16108.e9986","type":"debug","z":"4099c8d3.1c4cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":180,"wires":[]},{"id":"36a1733d.1afb7c","type":"comment","z":"4099c8d3.1c4cc8","name":"例1：时间戳","info":"","x":190,"y":180,"wires":[]},{"id":"77228a7a.0e9ca4","type":"function","z":"4099c8d3.1c4cc8","name":"修改时间戳为可读","func":"msg.payload = Date(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["ff7ff28e.dd23a","f0dbff7d.f1ddf"]]},{"id":"ff7ff28e.dd23a","type":"debug","z":"4099c8d3.1c4cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":460,"wires":[]},{"id":"a933f916.84b298","type":"comment","z":"4099c8d3.1c4cc8","name":"例2：时间戳可读","info":"","x":200,"y":460,"wires":[]},{"id":"f0dbff7d.f1ddf","type":"play audio","z":"4099c8d3.1c4cc8","name":"","voice":"","x":810,"y":560,"wires":[]},{"id":"a15b67f6.121648","type":"comment","z":"4099c8d3.1c4cc8","name":"例3：时间戳TTS","info":"","x":200,"y":560,"wires":[]}]